### Editor
/.ide/
/.dev/
/.idea/
*.code-workspace

### Test artifacts
/junit.xml
/.phpunit.cache

### Dev
/var/
/vendor
/.*.php
!/.*.dist.php
/*.cache
/.env
/index.php
/.lerd.yaml
/demo/
/references/
